<!DOCTYPE html>
<html lang="en">
  <%- include('./parts/header.ejs') %>
  <body>
    <div class="max-w-screen-xl mx-auto px-4 py-20">error</div>
    <%- include('./parts/footer.ejs') %>
  </body>
</html>
